<div class="slide-screens2-container">
    <div class="slide-screens2-slide-screens">
      <span class="slide-screens2-text">
        <span>Your Data is Safe</span>
      </span>
      <img
        src="assets/public/playground_assets/rectangle21539-twf-200h.png"
        alt="Rectangle21539"
        class="slide-screens2-rectangle2"
      />
      <img
        src="assets/public/playground_assets/rectangle31540-5ht-200h.png"
        alt="Rectangle31540"
        class="slide-screens2-rectangle3"
      />
      <img
        src="assets/public/playground_assets/rectangle41541-jua4-200h.png"
        alt="Rectangle41541"
        class="slide-screens2-rectangle4"
      />
      <a href="#/intros"><img
        src="assets/public/playground_assets/nextbutton1542-9y3.svg"
        alt="NextButton1542"
        class="slide-screens2-next-button"
      /></a>
      <div class="slide-screens2-securedatarafiki1">
        <div class="slide-screens2-freepikbackgroundcompleteinject279">
          <img
            src="assets/public/playground_assets/vector1044-t73.svg"
            alt="Vector1044"
            class="slide-screens2-vector"
          />
          <img
            src="assets/public/playground_assets/vector1044-2my.svg"
            alt="Vector1044"
            class="slide-screens2-vector001"
          />
          <img
            src="assets/public/playground_assets/vector1044-x83q.svg"
            alt="Vector1044"
            class="slide-screens2-vector002"
          />
          <img
            src="assets/public/playground_assets/vector1044-aou.svg"
            alt="Vector1044"
            class="slide-screens2-vector003"
          />
          <img
            src="assets/public/playground_assets/vector1044-5lxm.svg"
            alt="Vector1044"
            class="slide-screens2-vector004"
          />
          <img
            src="assets/public/playground_assets/vector1044-78o.svg"
            alt="Vector1044"
            class="slide-screens2-vector005"
          />
          <img
            src="assets/public/playground_assets/vector1044-ehr.svg"
            alt="Vector1044"
            class="slide-screens2-vector006"
          />
          <img
            src="assets/public/playground_assets/vector1044-nbyv.svg"
            alt="Vector1044"
            class="slide-screens2-vector007"
          />
          <img
            src="assets/public/playground_assets/vector1044-ffxw.svg"
            alt="Vector1044"
            class="slide-screens2-vector008"
          />
          <img
            src="assets/public/playground_assets/vector1044-vdmo.svg"
            alt="Vector1044"
            class="slide-screens2-vector009"
          />
          <img
            src="assets/public/playground_assets/vector1044-lbgp.svg"
            alt="Vector1044"
            class="slide-screens2-vector010"
          />
          <img
            src="assets/public/playground_assets/vector1044-b2z5.svg"
            alt="Vector1044"
            class="slide-screens2-vector011"
          />
          <img
            src="assets/public/playground_assets/vector1044-dsc.svg"
            alt="Vector1044"
            class="slide-screens2-vector012"
          />
          <img
            src="assets/public/playground_assets/vector1044-ewxa.svg"
            alt="Vector1044"
            class="slide-screens2-vector013"
          />
          <img
            src="assets/public/playground_assets/vector1044-l56o.svg"
            alt="Vector1044"
            class="slide-screens2-vector014"
          />
          <img
            src="assets/public/playground_assets/vector1044-mru6.svg"
            alt="Vector1044"
            class="slide-screens2-vector015"
          />
          <img
            src="assets/public/playground_assets/vector1044-kbl.svg"
            alt="Vector1044"
            class="slide-screens2-vector016"
          />
          <img
            src="assets/public/playground_assets/vector1044-a9n.svg"
            alt="Vector1044"
            class="slide-screens2-vector017"
          />
          <img
            src="assets/public/playground_assets/vector1044-q4j8.svg"
            alt="Vector1044"
            class="slide-screens2-vector018"
          />
          <img
            src="assets/public/playground_assets/vector1044-jkja.svg"
            alt="Vector1044"
            class="slide-screens2-vector019"
          />
          <img
            src="assets/public/playground_assets/vector1044-klb1.svg"
            alt="Vector1044"
            class="slide-screens2-vector020"
          />
          <img
            src="assets/public/playground_assets/vector1044-iox.svg"
            alt="Vector1044"
            class="slide-screens2-vector021"
          />
          <img
            src="assets/public/playground_assets/vector1044-1itn.svg"
            alt="Vector1044"
            class="slide-screens2-vector022"
          />
          <img
            src="assets/public/playground_assets/vector1044-vt2d.svg"
            alt="Vector1044"
            class="slide-screens2-vector023"
          />
          <img
            src="assets/public/playground_assets/vector1044-7yil.svg"
            alt="Vector1044"
            class="slide-screens2-vector024"
          />
          <img
            src="assets/public/playground_assets/vector1044-hvq.svg"
            alt="Vector1044"
            class="slide-screens2-vector025"
          />
          <img
            src="assets/public/playground_assets/vector1044-vqyy.svg"
            alt="Vector1044"
            class="slide-screens2-vector026"
          />
          <img
            src="assets/public/playground_assets/vector1044-5hs.svg"
            alt="Vector1044"
            class="slide-screens2-vector027"
          />
          <img
            src="assets/public/playground_assets/vector1044-5go.svg"
            alt="Vector1044"
            class="slide-screens2-vector028"
          />
          <img
            src="assets/public/playground_assets/vector1044-jso.svg"
            alt="Vector1044"
            class="slide-screens2-vector029"
          />
          <img
            src="assets/public/playground_assets/vector1044-nyk8.svg"
            alt="Vector1044"
            class="slide-screens2-vector030"
          />
          <img
            src="assets/public/playground_assets/vector1044-slfs.svg"
            alt="Vector1044"
            class="slide-screens2-vector031"
          />
          <img
            src="assets/public/playground_assets/vector1044-nm5.svg"
            alt="Vector1044"
            class="slide-screens2-vector032"
          />
          <img
            src="assets/public/playground_assets/vector1044-bskh.svg"
            alt="Vector1044"
            class="slide-screens2-vector033"
          />
          <img
            src="assets/public/playground_assets/vector1044-91yo.svg"
            alt="Vector1044"
            class="slide-screens2-vector034"
          />
          <img
            src="assets/public/playground_assets/vector1044-lxng.svg"
            alt="Vector1044"
            class="slide-screens2-vector035"
          />
          <img
            src="assets/public/playground_assets/vector1044-sg6o.svg"
            alt="Vector1044"
            class="slide-screens2-vector036"
          />
          <img
            src="assets/public/playground_assets/vector1044-frag.svg"
            alt="Vector1044"
            class="slide-screens2-vector037"
          />
          <img
            src="assets/public/playground_assets/vector1044-btlm.svg"
            alt="Vector1044"
            class="slide-screens2-vector038"
          />
          <img
            src="assets/public/playground_assets/vector1044-sqsr.svg"
            alt="Vector1044"
            class="slide-screens2-vector039"
          />
          <img
            src="assets/public/playground_assets/vector1044-gpc.svg"
            alt="Vector1044"
            class="slide-screens2-vector040"
          />
          <img
            src="assets/public/playground_assets/vector1044-x6xn.svg"
            alt="Vector1044"
            class="slide-screens2-vector041"
          />
          <img
            src="assets/public/playground_assets/vector1044-1nx.svg"
            alt="Vector1044"
            class="slide-screens2-vector042"
          />
          <img
            src="assets/public/playground_assets/vector1044-7sk.svg"
            alt="Vector1044"
            class="slide-screens2-vector043"
          />
          <img
            src="assets/public/playground_assets/vector1044-3v0q.svg"
            alt="Vector1044"
            class="slide-screens2-vector044"
          />
          <img
            src="assets/public/playground_assets/vector1044-ne7.svg"
            alt="Vector1044"
            class="slide-screens2-vector045"
          />
        </div>
        <div class="slide-screens2-freepik-shadowinject279">
          <img
            src="assets/public/playground_assets/freepikpathinject2791044-9gz.svg"
            alt="freepikpathinject2791044"
            class="slide-screens2-freepikpathinject279"
          />
        </div>
        <div class="slide-screens2-freepik-characterinject279">
          <img
            src="assets/public/playground_assets/vector1045-vp4x.svg"
            alt="Vector1045"
            class="slide-screens2-vector046"
          />
          <img
            src="assets/public/playground_assets/vector1045-2vkr.svg"
            alt="Vector1045"
            class="slide-screens2-vector047"
          />
          <img
            src="assets/public/playground_assets/vector1045-8ym.svg"
            alt="Vector1045"
            class="slide-screens2-vector048"
          />
          <img
            src="assets/public/playground_assets/vector1045-pzj9.svg"
            alt="Vector1045"
            class="slide-screens2-vector049"
          />
          <img
            src="assets/public/playground_assets/vector1045-2frt.svg"
            alt="Vector1045"
            class="slide-screens2-vector050"
          />
          <img
            src="assets/public/playground_assets/vector1045-0vda.svg"
            alt="Vector1045"
            class="slide-screens2-vector051"
          />
          <img
            src="assets/public/playground_assets/vector1045-ryis.svg"
            alt="Vector1045"
            class="slide-screens2-vector052"
          />
          <img
            src="assets/public/playground_assets/vector1045-34b.svg"
            alt="Vector1045"
            class="slide-screens2-vector053"
          />
          <img
            src="assets/public/playground_assets/vector1045-g44a.svg"
            alt="Vector1045"
            class="slide-screens2-vector054"
          />
          <img
            src="assets/public/playground_assets/vector1045-bdw.svg"
            alt="Vector1045"
            class="slide-screens2-vector055"
          />
          <img
            src="assets/public/playground_assets/vector1045-4s2f.svg"
            alt="Vector1045"
            class="slide-screens2-vector056"
          />
          <img
            src="assets/public/playground_assets/vector1045-bghk.svg"
            alt="Vector1045"
            class="slide-screens2-vector057"
          />
          <img
            src="assets/public/playground_assets/vector1045-qw2i.svg"
            alt="Vector1045"
            class="slide-screens2-vector058"
          />
          <img
            src="assets/public/playground_assets/vector1045-9vn.svg"
            alt="Vector1045"
            class="slide-screens2-vector059"
          />
          <img
            src="assets/public/playground_assets/vector1045-vlw5.svg"
            alt="Vector1045"
            class="slide-screens2-vector060"
          />
          <img
            src="assets/public/playground_assets/vector1045-o5f.svg"
            alt="Vector1045"
            class="slide-screens2-vector061"
          />
          <img
            src="assets/public/playground_assets/vector1045-cmkg.svg"
            alt="Vector1045"
            class="slide-screens2-vector062"
          />
          <img
            src="assets/public/playground_assets/vector1045-w25.svg"
            alt="Vector1045"
            class="slide-screens2-vector063"
          />
          <img
            src="assets/public/playground_assets/vector1045-ch3.svg"
            alt="Vector1045"
            class="slide-screens2-vector064"
          />
          <img
            src="assets/public/playground_assets/vector1045-8dso.svg"
            alt="Vector1045"
            class="slide-screens2-vector065"
          />
          <img
            src="assets/public/playground_assets/vector1045-6fof.svg"
            alt="Vector1045"
            class="slide-screens2-vector066"
          />
          <img
            src="assets/public/playground_assets/vector1045-vr4.svg"
            alt="Vector1045"
            class="slide-screens2-vector067"
          />
          <img
            src="assets/public/playground_assets/vector1045-2yor.svg"
            alt="Vector1045"
            class="slide-screens2-vector068"
          />
          <img
            src="assets/public/playground_assets/vector1045-j0d9.svg"
            alt="Vector1045"
            class="slide-screens2-vector069"
          />
          <img
            src="assets/public/playground_assets/vector1045-50cm.svg"
            alt="Vector1045"
            class="slide-screens2-vector070"
          />
          <img
            src="assets/public/playground_assets/vector1045-t5r.svg"
            alt="Vector1045"
            class="slide-screens2-vector071"
          />
          <img
            src="assets/public/playground_assets/vector1045-3cl.svg"
            alt="Vector1045"
            class="slide-screens2-vector072"
          />
          <img
            src="assets/public/playground_assets/vector1045-1uz3.svg"
            alt="Vector1045"
            class="slide-screens2-vector073"
          />
          <img
            src="assets/public/playground_assets/vector1045-w8ff.svg"
            alt="Vector1045"
            class="slide-screens2-vector074"
          />
          <img
            src="assets/public/playground_assets/vector1045-7iqk.svg"
            alt="Vector1045"
            class="slide-screens2-vector075"
          />
          <img
            src="assets/public/playground_assets/vector1045-khi.svg"
            alt="Vector1045"
            class="slide-screens2-vector076"
          />
          <img
            src="assets/public/playground_assets/vector1045-9jmh.svg"
            alt="Vector1045"
            class="slide-screens2-vector077"
          />
          <img
            src="assets/public/playground_assets/vector1045-nf2r.svg"
            alt="Vector1045"
            class="slide-screens2-vector078"
          />
          <img
            src="assets/public/playground_assets/vector1045-p14k.svg"
            alt="Vector1045"
            class="slide-screens2-vector079"
          />
          <img
            src="assets/public/playground_assets/vector1045-y5og.svg"
            alt="Vector1045"
            class="slide-screens2-vector080"
          />
          <img
            src="assets/public/playground_assets/vector1045-inlh.svg"
            alt="Vector1045"
            class="slide-screens2-vector081"
          />
          <img
            src="assets/public/playground_assets/vector1045-ndw8.svg"
            alt="Vector1045"
            class="slide-screens2-vector082"
          />
          <img
            src="assets/public/playground_assets/vector1045-jp9n.svg"
            alt="Vector1045"
            class="slide-screens2-vector083"
          />
          <img
            src="assets/public/playground_assets/vector1045-kgee.svg"
            alt="Vector1045"
            class="slide-screens2-vector084"
          />
          <img
            src="assets/public/playground_assets/vector1045-s15.svg"
            alt="Vector1045"
            class="slide-screens2-vector085"
          />
          <img
            src="assets/public/playground_assets/vector1045-jfeh.svg"
            alt="Vector1045"
            class="slide-screens2-vector086"
          />
        </div>
        <div class="slide-screens2-freepik-notebookinject279">
          <img
            src="assets/public/playground_assets/vector1045-ivpf.svg"
            alt="Vector1045"
            class="slide-screens2-vector087"
          />
          <img
            src="assets/public/playground_assets/vector1045-91x.svg"
            alt="Vector1045"
            class="slide-screens2-vector088"
          />
          <img
            src="assets/public/playground_assets/vector1045-xpt.svg"
            alt="Vector1045"
            class="slide-screens2-vector089"
          />
          <img
            src="assets/public/playground_assets/vector1045-xod.svg"
            alt="Vector1045"
            class="slide-screens2-vector090"
          />
          <img
            src="assets/public/playground_assets/vector1045-73n.svg"
            alt="Vector1045"
            class="slide-screens2-vector091"
          />
          <img
            src="assets/public/playground_assets/vector1045-kha9.svg"
            alt="Vector1045"
            class="slide-screens2-vector092"
          />
          <img
            src="assets/public/playground_assets/vector1045-5d6u.svg"
            alt="Vector1045"
            class="slide-screens2-vector093"
          />
          <img
            src="assets/public/playground_assets/vector1045-eloe.svg"
            alt="Vector1045"
            class="slide-screens2-vector094"
          />
          <img
            src="assets/public/playground_assets/vector1045-ydz7.svg"
            alt="Vector1045"
            class="slide-screens2-vector095"
          />
          <img
            src="assets/public/playground_assets/vector1045-b9h.svg"
            alt="Vector1045"
            class="slide-screens2-vector096"
          />
          <img
            src="assets/public/playground_assets/vector1045-d5go.svg"
            alt="Vector1045"
            class="slide-screens2-vector097"
          />
          <img
            src="assets/public/playground_assets/vector1045-xk3a.svg"
            alt="Vector1045"
            class="slide-screens2-vector098"
          />
          <img
            src="assets/public/playground_assets/vector1045-2g1l.svg"
            alt="Vector1045"
            class="slide-screens2-vector099"
          />
          <img
            src="assets/public/playground_assets/vector1045-1bjb.svg"
            alt="Vector1045"
            class="slide-screens2-vector100"
          />
          <img
            src="assets/public/playground_assets/vector1045-w47.svg"
            alt="Vector1045"
            class="slide-screens2-vector101"
          />
        </div>
      </div>
    </div>
  </div>
  <style>
    html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
html {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);

  }
  .slide-screens2-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .slide-screens2-slide-screens {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(251, 251, 251, 1);
  }
  .slide-screens2-text {
    top: 520px;
    left: 20px;
    color: rgba(37, 37, 37, 1);
    width: 281px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .slide-screens2-rectangle2 {
    top: 700px;
    left: 28px;
    width: 16px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens2-rectangle3 {
    top: 700px;
    left: 46px;
    width: 13px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens2-rectangle4 {
    top: 700px;
    left: 61px;
    width: 13px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens2-next-button {
    top: 678px;
    left: 282px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .slide-screens2-securedatarafiki1 {
    top: 156px;
    left: -12px;
    width: 384px;
    height: 346px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .slide-screens2-freepikbackgroundcompleteinject279 {
    top: 38.060001373291016px;
    left: 0px;
    width: 384px;
    height: 237.3006591796875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens2-vector {
    top: 226.56080627441406px;
    left: 0px;
    width: 384px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector001 {
    top: 233.1486358642578px;
    left: 40.289276123046875px;
    width: 25px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector002 {
    top: 231.2733154296875px;
    left: 111.61344146728516px;
    width: 26px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector003 {
    top: 236.49099731445312px;
    left: 58.429439544677734px;
    width: 43px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector004 {
    top: 237.12765502929688px;
    left: 311.53155517578125px;
    width: 33px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector005 {
    top: 232.80264282226562px;
    left: 284.4902648925781px;
    width: 18px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector006 {
    top: 235.5775604248047px;
    left: 150.24383544921875px;
    width: 72px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector007 {
    top: 4.187202762295783e-7px;
    left: 29.345279693603516px;
    width: 157px;
    height: 196px;
    position: absolute;
  }
  .slide-screens2-vector008 {
    top: 4.187202762295783e-7px;
    left: 195.45599365234375px;
    width: 157px;
    height: 196px;
    position: absolute;
  }
  .slide-screens2-vector009 {
    top: 180.51510620117188px;
    left: 113.26463317871094px;
    width: 12px;
    height: 41px;
    position: absolute;
  }
  .slide-screens2-vector010 {
    top: 132.78097534179688px;
    left: 69.92639923095703px;
    width: 45px;
    height: 48px;
    position: absolute;
  }
  .slide-screens2-vector011 {
    top: 132.78097534179688px;
    left: 65.7254409790039px;
    width: 46px;
    height: 48px;
    position: absolute;
  }
  .slide-screens2-vector012 {
    top: 136.53851318359375px;
    left: 69.54240417480469px;
    width: 38px;
    height: 40px;
    position: absolute;
  }
  .slide-screens2-vector013 {
    top: 146.28878784179688px;
    left: 81.02778625488281px;
    width: 15px;
    height: 21px;
    position: absolute;
  }
  .slide-screens2-vector014 {
    top: 100.93511962890625px;
    left: 312.4070129394531px;
    width: 230px;
    height: 75px;
    position: absolute;
  }
  .slide-screens2-vector015 {
    top: 100.93511962890625px;
    left: 310.456298828125px;
    width: 232px;
    height: 75px;
    position: absolute;
  }
  .slide-screens2-vector016 {
    top: 107.93124389648438px;
    left: 312.4070129394531px;
    width: 230px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector017 {
    top: 107.93124389648438px;
    left: 303.4905700683594px;
    width: 232px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector018 {
    top: 31.15383529663086px;
    left: 304.6041564941406px;
    width: 65px;
    height: 220px;
    position: absolute;
  }
  .slide-screens2-vector019 {
    top: 31.15383529663086px;
    left: 227.31265258789062px;
    width: 54px;
    height: 65px;
    position: absolute;
  }
  .slide-screens2-vector020 {
    top: 31.15383529663086px;
    left: 103.25759887695312px;
    width: 54px;
    height: 65px;
    position: absolute;
  }
  .slide-screens2-vector021 {
    top: 31.15383529663086px;
    left: 212.1139373779297px;
    width: 38px;
    height: 65px;
    position: absolute;
  }
  .slide-screens2-vector022 {
    top: 31.153841018676758px;
    left: 85.14816284179688px;
    width: 65px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector023 {
    top: 226.56080627441406px;
    left: 78.50495910644531px;
    width: 34px;
    height: 46px;
    position: absolute;
  }
  .slide-screens2-vector024 {
    top: 217.68243408203125px;
    left: 44.067840576171875px;
    width: 7px;
    height: 9px;
    position: absolute;
  }
  .slide-screens2-vector025 {
    top: 226.56080627441406px;
    left: 175.01951599121094px;
    width: 34px;
    height: 46px;
    position: absolute;
  }
  .slide-screens2-vector026 {
    top: 221.11476135253906px;
    left: 143.60833740234375px;
    width: 100px;
    height: 41px;
    position: absolute;
  }
  .slide-screens2-vector027 {
    top: 217.68243408203125px;
    left: 136.51199340820312px;
    width: 7px;
    height: 9px;
    position: absolute;
  }
  .slide-screens2-vector028 {
    top: 199.43441772460938px;
    left: 140.92031860351562px;
    width: 94px;
    height: 16px;
    position: absolute;
  }
  .slide-screens2-vector029 {
    top: 188.16864013671875px;
    left: 73.13664245605469px;
    width: 41px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector030 {
    top: 218.46441650390625px;
    left: 140.92031860351562px;
    width: 94px;
    height: 16px;
    position: absolute;
  }
  .slide-screens2-vector031 {
    top: 207.17095947265625px;
    left: 73.13664245605469px;
    width: 41px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector032 {
    top: 160.79998779296875px;
    left: 226.00704956054688px;
    width: 49px;
    height: 66px;
    position: absolute;
  }
  .slide-screens2-vector033 {
    top: 160.79998779296875px;
    left: 279.552001953125px;
    width: 49px;
    height: 66px;
    position: absolute;
  }
  .slide-screens2-vector034 {
    top: 155.81764221191406px;
    left: 224.72445678710938px;
    width: 102px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector035 {
    top: 123.5219955444336px;
    left: 258.7084655761719px;
    width: 66px;
    height: 31px;
    position: absolute;
  }
  .slide-screens2-vector036 {
    top: 154.12916564941406px;
    left: 258.47039794921875px;
    width: 58px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector037 {
    top: 123.5219955444336px;
    left: 256.93438720703125px;
    width: 66px;
    height: 31px;
    position: absolute;
  }
  .slide-screens2-vector038 {
    top: 124.91983795166016px;
    left: 258.9158630371094px;
    width: 62px;
    height: 28px;
    position: absolute;
  }
  .slide-screens2-vector039 {
    top: 154.12916564941406px;
    left: 235.8988800048828px;
    width: 64px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector040 {
    top: 144.73178100585938px;
    left: 136.1261749267578px;
    width: 3px;
    height: 34px;
    position: absolute;
  }
  .slide-screens2-vector041 {
    top: 146.48983764648438px;
    left: 118.86119079589844px;
    width: 19px;
    height: 16px;
    position: absolute;
  }
  .slide-screens2-vector042 {
    top: 152.3649444580078px;
    left: 137.13836669921875px;
    width: 19px;
    height: 16px;
    position: absolute;
  }
  .slide-screens2-vector043 {
    top: 134.9126434326172px;
    left: 136.70468139648438px;
    width: 17px;
    height: 24px;
    position: absolute;
  }
  .slide-screens2-vector044 {
    top: 175.02066040039062px;
    left: 132.42623901367188px;
    width: 11px;
    height: 5px;
    position: absolute;
  }
  .slide-screens2-vector045 {
    top: 173.0553436279297px;
    left: 131.34336853027344px;
    width: 13px;
    height: 3px;
    position: absolute;
  }
  .slide-screens2-freepik-shadowinject279 {
    top: 280.20465087890625px;
    left: 43.09247970581055px;
    width: 297.8150634765625px;
    height: 15.666868209838867px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens2-freepikpathinject279 {
    top: 0px;
    left: 0px;
    width: 298px;
    height: 16px;
    position: absolute;
  }
  .slide-screens2-freepik-characterinject279 {
    top: 77.73238372802734px;
    left: 215.07838439941406px;
    width: 82.62939453125px;
    height: 210.33335876464844px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens2-vector046 {
    top: 185.241455078125px;
    left: 18.147850036621094px;
    width: 8px;
    height: 14px;
    position: absolute;
  }
  .slide-screens2-vector047 {
    top: 192.2306365966797px;
    left: 64.16642761230469px;
    width: 11px;
    height: 13px;
    position: absolute;
  }
  .slide-screens2-vector048 {
    top: 204.14688110351562px;
    left: 56.914268493652344px;
    width: 20px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector049 {
    top: 197.1238555908203px;
    left: 3.1426937580108643px;
    width: 22px;
    height: 8px;
    position: absolute;
  }
  .slide-screens2-vector050 {
    top: 39.25713348388672px;
    left: 6.205459117889404px;
    width: 41px;
    height: 29px;
    position: absolute;
  }
  .slide-screens2-vector051 {
    top: 34.714046478271484px;
    left: 27.89377212524414px;
    width: 22px;
    height: 23px;
    position: absolute;
  }
  .slide-screens2-vector052 {
    top: 42.50126266479492px;
    left: 34.52161407470703px;
    width: 14px;
    height: 15px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector053 {
    top: 49.86549758911133px;
    left: 3.0796937942504883px;
    width: 8px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector054 {
    top: 48.00401306152344px;
    left: 0.000004150390850554686px;
    width: 8px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector055 {
    top: 185.241455078125px;
    left: 18.99265480041504px;
    width: 7px;
    height: 8px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector056 {
    top: 192.2306365966797px;
    left: 64.16642761230469px;
    width: 8px;
    height: 6px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector057 {
    top: 34.350337982177734px;
    left: 35.79874801635742px;
    width: 41px;
    height: 51px;
    position: absolute;
  }
  .slide-screens2-vector058 {
    top: 42.31205749511719px;
    left: 44.0119514465332px;
    width: 16px;
    height: 18px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector059 {
    top: 44.211612701416016px;
    left: 46.13297653198242px;
    width: 12px;
    height: 13px;
    position: absolute;
  }
  .slide-screens2-vector060 {
    top: 56.08658218383789px;
    left: 65.47200012207031px;
    width: 6px;
    height: 12px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector061 {
    top: 22.109375px;
    left: 52.157493591308594px;
    width: 15px;
    height: 17px;
    position: absolute;
  }
  .slide-screens2-vector062 {
    top: 24.309940338134766px;
    left: 57.78434371948242px;
    width: 6px;
    height: 5px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector063 {
    top: 6.752473831176758px;
    left: 51.20881271362305px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .slide-screens2-vector064 {
    top: 7.419142246246338px;
    left: 50.807098388671875px;
    width: 18px;
    height: 21px;
    position: absolute;
  }
  .slide-screens2-vector065 {
    top: 8.776976585388184px;
    left: 64.48120880126953px;
    width: 11px;
    height: 13px;
    position: absolute;
  }
  .slide-screens2-vector066 {
    top: 0.000008830336810206063px;
    left: 47.74282455444336px;
    width: 30px;
    height: 13px;
    position: absolute;
  }
  .slide-screens2-vector067 {
    top: 18.594404220581055px;
    left: 64.28321075439453px;
    width: 7px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector068 {
    top: 81.04701232910156px;
    left: 17.028873443603516px;
    width: 40px;
    height: 111px;
    position: absolute;
  }
  .slide-screens2-vector069 {
    top: 93.60681915283203px;
    left: 41.65823745727539px;
    width: 10px;
    height: 32px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector070 {
    top: 82.47252655029297px;
    left: 47.04963684082031px;
    width: 28px;
    height: 115px;
    position: absolute;
  }
  .slide-screens2-vector071 {
    top: 193.94680786132812px;
    left: 60.91007995605469px;
    width: 14px;
    height: 4px;
    position: absolute;
  }
  .slide-screens2-vector072 {
    top: 186.02340698242188px;
    left: 15.429146766662598px;
    width: 13px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector073 {
    top: 15.804505348205566px;
    left: 58.131988525390625px;
    width: 1px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector074 {
    top: 15.133148193359375px;
    left: 52.70185089111328px;
    width: 1px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector075 {
    top: 16.42806053161621px;
    left: 52.69249725341797px;
    width: 3px;
    height: 4px;
    position: absolute;
  }
  .slide-screens2-vector076 {
    top: 20.620586395263672px;
    left: 56.0389289855957px;
    width: 4px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector077 {
    top: 13.569981575012207px;
    left: 58.99732971191406px;
    width: 2px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector078 {
    top: 12.449061393737793px;
    left: 51.477264404296875px;
    width: 3px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector079 {
    top: 203.70523071289062px;
    left: 64.59638214111328px;
    width: 3px;
    height: 1px;
    position: absolute;
  }
  .slide-screens2-vector080 {
    top: 202.4817657470703px;
    left: 65.82316589355469px;
    width: 2px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector081 {
    top: 195.95574951171875px;
    left: 14.213491439819336px;
    width: 3px;
    height: 2px;
    position: absolute;
  }
  .slide-screens2-vector082 {
    top: 195.0652618408203px;
    left: 15.98829460144043px;
    width: 2px;
    height: 3px;
    position: absolute;
  }
  .slide-screens2-vector083 {
    top: 44.03194046020508px;
    left: 47.75426483154297px;
    width: 32px;
    height: 28px;
    position: absolute;
  }
  .slide-screens2-vector084 {
    top: 38.34933853149414px;
    left: 64.96514892578125px;
    width: 18px;
    height: 21px;
    position: absolute;
  }
  .slide-screens2-vector085 {
    top: 62.66749954223633px;
    left: 44.23680877685547px;
    width: 6px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-vector086 {
    top: 62.66749954223633px;
    left: 39.33696746826172px;
    width: 5px;
    height: 7px;
    position: absolute;
  }
  .slide-screens2-freepik-notebookinject279 {
    top: 89.70355224609375px;
    left: 72.16847229003906px;
    width: 209.8782501220703px;
    height: 165.92123413085938px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens2-vector087 {
    top: 0px;
    left: 0px;
    width: 168px;
    height: 97px;
    position: absolute;
  }
  .slide-screens2-vector088 {
    top: 97.08799743652344px;
    left: 8.40854549407959px;
    width: 200px;
    height: 69px;
    position: absolute;
  }
  .slide-screens2-vector089 {
    top: 0.00008250551036326215px;
    left: 1.7363637685775757px;
    width: 168px;
    height: 97px;
    position: absolute;
  }
  .slide-screens2-vector090 {
    top: 5.314786434173584px;
    left: 7.755951881408691px;
    width: 156px;
    height: 86px;
    position: absolute;
  }
  .slide-screens2-vector091 {
    top: 2.7871744632720947px;
    left: 80.401123046875px;
    width: 2px;
    height: 2px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector092 {
    top: 97.08799743652344px;
    left: 10.177192687988281px;
    width: 200px;
    height: 69px;
    position: absolute;
  }
  .slide-screens2-vector093 {
    top: 100.87324523925781px;
    left: 16.561553955078125px;
    width: 169px;
    height: 34px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector094 {
    top: 138.7325439453125px;
    left: 85.703857421875px;
    width: 58px;
    height: 22px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector095 {
    top: 5.314966201782227px;
    left: 7.949287414550781px;
    width: 155px;
    height: 86px;
    position: absolute;
  }
  .slide-screens2-vector096 {
    top: 85.4900894165039px;
    left: 13.839845657348633px;
    width: 5px;
    height: 6px;
    position: absolute;
  }
  .slide-screens2-vector097 {
    top: 43.125732421875px;
    left: 56.77058029174805px;
    width: 63px;
    height: 40px;
    position: absolute;
  }
  .slide-screens2-vector098 {
    top: 43.16033172607422px;
    left: 56.762908935546875px;
    width: 33px;
    height: 40px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector099 {
    top: 52.60551834106445px;
    left: 81.532470703125px;
    width: 13px;
    height: 21px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens2-vector100 {
    top: 53.457115173339844px;
    left: 82.54058074951172px;
    width: 11px;
    height: 19px;
    position: absolute;
  }
  .slide-screens2-vector101 {
    top: 11.057406425476074px;
    left: 61.116722106933594px;
    width: 51px;
    height: 30px;
    position: absolute;
  }
  
  </style>