<div class="slide-screens1-container">
    <div class="slide-screens1-slide-screens">
      <span class="slide-screens1-text">
        <span>
          <span>Your Data Will Be Analyze By</span>
          <br />
          <span>Pastor Manoj Paul</span>
        </span>
      </span>
      <img
        src="assets/public/playground_assets/rectangle21477-a1vl-200h.png"
        alt="Rectangle21477"
        class="slide-screens1-rectangle2"
      />
      <img
        src="assets/public/playground_assets/rectangle31478-zi4p-200h.png"
        alt="Rectangle31478"
        class="slide-screens1-rectangle3"
      />
      <img
        src="assets/public/playground_assets/rectangle41479-5ljb-200h.png"
        alt="Rectangle41479"
        class="slide-screens1-rectangle4"
      />
      <a href="#/register"><img
        src="assets/public/playground_assets/nextbutton1480-pom.svg"
        alt="NextButton1480"
        class="slide-screens1-next-button"
      /></a>
      <div class="slide-screens1-segmentrafiki1">
        <div class="slide-screens1-freepikbackgroundcompleteinject297">
          <img
            src="assets/public/playground_assets/vector1045-zqkb.svg"
            alt="Vector1045"
            class="slide-screens1-vector"
          />
          <img
            src="assets/public/playground_assets/vector1045-jj26.svg"
            alt="Vector1045"
            class="slide-screens1-vector001"
          />
          <img
            src="assets/public/playground_assets/vector1045-cybr.svg"
            alt="Vector1045"
            class="slide-screens1-vector002"
          />
          <img
            src="assets/public/playground_assets/vector1045-o447.svg"
            alt="Vector1045"
            class="slide-screens1-vector003"
          />
          <img
            src="assets/public/playground_assets/vector1045-lp4b.svg"
            alt="Vector1045"
            class="slide-screens1-vector004"
          />
          <img
            src="assets/public/playground_assets/vector1045-nc9b.svg"
            alt="Vector1045"
            class="slide-screens1-vector005"
          />
          <img
            src="assets/public/playground_assets/vector1045-vpc.svg"
            alt="Vector1045"
            class="slide-screens1-vector006"
          />
          <img
            src="assets/public/playground_assets/vector1045-0xd8.svg"
            alt="Vector1045"
            class="slide-screens1-vector007"
          />
          <img
            src="assets/public/playground_assets/vector1045-iaz.svg"
            alt="Vector1045"
            class="slide-screens1-vector008"
          />
          <img
            src="assets/public/playground_assets/vector1045-ufup.svg"
            alt="Vector1045"
            class="slide-screens1-vector009"
          />
          <img
            src="assets/public/playground_assets/vector1045-jap8.svg"
            alt="Vector1045"
            class="slide-screens1-vector010"
          />
          <img
            src="assets/public/playground_assets/vector1045-dlgl.svg"
            alt="Vector1045"
            class="slide-screens1-vector011"
          />
          <img
            src="assets/public/playground_assets/vector1045-ahf8.svg"
            alt="Vector1045"
            class="slide-screens1-vector012"
          />
          <img
            src="assets/public/playground_assets/vector1045-nnifb.svg"
            alt="Vector1045"
            class="slide-screens1-vector013"
          />
          <img
            src="assets/public/playground_assets/vector1045-oo4.svg"
            alt="Vector1045"
            class="slide-screens1-vector014"
          />
          <img
            src="assets/public/playground_assets/vector1045-81qb.svg"
            alt="Vector1045"
            class="slide-screens1-vector015"
          />
          <img
            src="assets/public/playground_assets/vector1045-scy.svg"
            alt="Vector1045"
            class="slide-screens1-vector016"
          />
          <img
            src="assets/public/playground_assets/vector1045-4zln.svg"
            alt="Vector1045"
            class="slide-screens1-vector017"
          />
          <img
            src="assets/public/playground_assets/vector1045-lv7j.svg"
            alt="Vector1045"
            class="slide-screens1-vector018"
          />
          <img
            src="assets/public/playground_assets/vector1045-tuam.svg"
            alt="Vector1045"
            class="slide-screens1-vector019"
          />
          <img
            src="assets/public/playground_assets/vector1046-ggu8.svg"
            alt="Vector1046"
            class="slide-screens1-vector020"
          />
          <img
            src="assets/public/playground_assets/vector1046-meu.svg"
            alt="Vector1046"
            class="slide-screens1-vector021"
          />
          <img
            src="assets/public/playground_assets/vector1046-71c.svg"
            alt="Vector1046"
            class="slide-screens1-vector022"
          />
          <img
            src="assets/public/playground_assets/vector1046-u2u.svg"
            alt="Vector1046"
            class="slide-screens1-vector023"
          />
          <img
            src="assets/public/playground_assets/vector1046-st4w.svg"
            alt="Vector1046"
            class="slide-screens1-vector024"
          />
          <img
            src="assets/public/playground_assets/vector1046-88z.svg"
            alt="Vector1046"
            class="slide-screens1-vector025"
          />
          <img
            src="assets/public/playground_assets/vector1046-xthu.svg"
            alt="Vector1046"
            class="slide-screens1-vector026"
          />
          <img
            src="assets/public/playground_assets/vector1046-cmhh.svg"
            alt="Vector1046"
            class="slide-screens1-vector027"
          />
          <img
            src="assets/public/playground_assets/vector1046-fjjk.svg"
            alt="Vector1046"
            class="slide-screens1-vector028"
          />
          <img
            src="assets/public/playground_assets/vector1046-xsw7.svg"
            alt="Vector1046"
            class="slide-screens1-vector029"
          />
          <img
            src="assets/public/playground_assets/vector1046-849i.svg"
            alt="Vector1046"
            class="slide-screens1-vector030"
          />
          <img
            src="assets/public/playground_assets/vector1046-88l8.svg"
            alt="Vector1046"
            class="slide-screens1-vector031"
          />
          <img
            src="assets/public/playground_assets/vector1046-vk9.svg"
            alt="Vector1046"
            class="slide-screens1-vector032"
          />
          <img
            src="assets/public/playground_assets/vector1046-hrbj.svg"
            alt="Vector1046"
            class="slide-screens1-vector033"
          />
          <img
            src="assets/public/playground_assets/vector1046-jlhs.svg"
            alt="Vector1046"
            class="slide-screens1-vector034"
          />
          <img
            src="assets/public/playground_assets/vector1046-5drr.svg"
            alt="Vector1046"
            class="slide-screens1-vector035"
          />
          <img
            src="assets/public/playground_assets/vector1046-3ekx.svg"
            alt="Vector1046"
            class="slide-screens1-vector036"
          />
          <img
            src="assets/public/playground_assets/vector1046-wdp.svg"
            alt="Vector1046"
            class="slide-screens1-vector037"
          />
          <img
            src="assets/public/playground_assets/vector1046-qgn5.svg"
            alt="Vector1046"
            class="slide-screens1-vector038"
          />
          <img
            src="assets/public/playground_assets/vector1046-cnus.svg"
            alt="Vector1046"
            class="slide-screens1-vector039"
          />
          <img
            src="assets/public/playground_assets/vector1046-lsr.svg"
            alt="Vector1046"
            class="slide-screens1-vector040"
          />
          <img
            src="assets/public/playground_assets/vector1046-kve.svg"
            alt="Vector1046"
            class="slide-screens1-vector041"
          />
          <img
            src="assets/public/playground_assets/vector1046-m01u.svg"
            alt="Vector1046"
            class="slide-screens1-vector042"
          />
          <img
            src="assets/public/playground_assets/vector1046-qybo.svg"
            alt="Vector1046"
            class="slide-screens1-vector043"
          />
          <img
            src="assets/public/playground_assets/vector1046-4reb.svg"
            alt="Vector1046"
            class="slide-screens1-vector044"
          />
          <img
            src="assets/public/playground_assets/vector1046-e0w.svg"
            alt="Vector1046"
            class="slide-screens1-vector045"
          />
          <img
            src="assets/public/playground_assets/vector1046-1n1ac.svg"
            alt="Vector1046"
            class="slide-screens1-vector046"
          />
          <img
            src="assets/public/playground_assets/vector1046-91sg.svg"
            alt="Vector1046"
            class="slide-screens1-vector047"
          />
          <img
            src="assets/public/playground_assets/vector1046-zjkg.svg"
            alt="Vector1046"
            class="slide-screens1-vector048"
          />
          <img
            src="assets/public/playground_assets/vector1046-9d.svg"
            alt="Vector1046"
            class="slide-screens1-vector049"
          />
          <img
            src="assets/public/playground_assets/vector1046-1fgk.svg"
            alt="Vector1046"
            class="slide-screens1-vector050"
          />
          <img
            src="assets/public/playground_assets/vector1046-ukx.svg"
            alt="Vector1046"
            class="slide-screens1-vector051"
          />
          <img
            src="assets/public/playground_assets/vector1046-mwut.svg"
            alt="Vector1046"
            class="slide-screens1-vector052"
          />
          <img
            src="assets/public/playground_assets/vector1046-ami.svg"
            alt="Vector1046"
            class="slide-screens1-vector053"
          />
          <img
            src="assets/public/playground_assets/vector1046-n8f3.svg"
            alt="Vector1046"
            class="slide-screens1-vector054"
          />
        </div>
        <div class="slide-screens1-freepik-shadowinject297">
          <img
            src="assets/public/playground_assets/vector1046-x9ka.svg"
            alt="Vector1046"
            class="slide-screens1-vector055"
          />
        </div>
        <div class="slide-screens1-freepik-characterinject297">
          <img
            src="assets/public/playground_assets/vector1046-rdsi.svg"
            alt="Vector1046"
            class="slide-screens1-vector056"
          />
          <img
            src="assets/public/playground_assets/vector1046-76xc.svg"
            alt="Vector1046"
            class="slide-screens1-vector057"
          />
          <img
            src="assets/public/playground_assets/vector1046-ddek.svg"
            alt="Vector1046"
            class="slide-screens1-vector058"
          />
          <img
            src="assets/public/playground_assets/vector1046-r0ff.svg"
            alt="Vector1046"
            class="slide-screens1-vector059"
          />
          <img
            src="assets/public/playground_assets/vector1046-n2pp.svg"
            alt="Vector1046"
            class="slide-screens1-vector060"
          />
          <img
            src="assets/public/playground_assets/vector1046-sudf.svg"
            alt="Vector1046"
            class="slide-screens1-vector061"
          />
          <img
            src="assets/public/playground_assets/vector1046-hue9.svg"
            alt="Vector1046"
            class="slide-screens1-vector062"
          />
          <img
            src="assets/public/playground_assets/vector1046-l79f.svg"
            alt="Vector1046"
            class="slide-screens1-vector063"
          />
          <img
            src="assets/public/playground_assets/vector1046-m6f8.svg"
            alt="Vector1046"
            class="slide-screens1-vector064"
          />
          <img
            src="assets/public/playground_assets/vector1046-aurv.svg"
            alt="Vector1046"
            class="slide-screens1-vector065"
          />
          <img
            src="assets/public/playground_assets/vector1046-c2q6.svg"
            alt="Vector1046"
            class="slide-screens1-vector066"
          />
          <img
            src="assets/public/playground_assets/vector1046-7t8d.svg"
            alt="Vector1046"
            class="slide-screens1-vector067"
          />
          <img
            src="assets/public/playground_assets/vector1046-9zj9.svg"
            alt="Vector1046"
            class="slide-screens1-vector068"
          />
          <img
            src="assets/public/playground_assets/vector1046-i8ja.svg"
            alt="Vector1046"
            class="slide-screens1-vector069"
          />
          <img
            src="assets/public/playground_assets/vector1046-wuns.svg"
            alt="Vector1046"
            class="slide-screens1-vector070"
          />
          <img
            src="assets/public/playground_assets/vector1046-ung.svg"
            alt="Vector1046"
            class="slide-screens1-vector071"
          />
          <img
            src="assets/public/playground_assets/vector1046-mjs.svg"
            alt="Vector1046"
            class="slide-screens1-vector072"
          />
          <img
            src="assets/public/playground_assets/vector1046-l3sd.svg"
            alt="Vector1046"
            class="slide-screens1-vector073"
          />
          <img
            src="assets/public/playground_assets/vector1046-fkl.svg"
            alt="Vector1046"
            class="slide-screens1-vector074"
          />
          <img
            src="assets/public/playground_assets/vector1046-zuqb.svg"
            alt="Vector1046"
            class="slide-screens1-vector075"
          />
          <img
            src="assets/public/playground_assets/vector1046-nvrk.svg"
            alt="Vector1046"
            class="slide-screens1-vector076"
          />
          <img
            src="assets/public/playground_assets/vector1046-8hm.svg"
            alt="Vector1046"
            class="slide-screens1-vector077"
          />
          <img
            src="assets/public/playground_assets/vector1046-a3e.svg"
            alt="Vector1046"
            class="slide-screens1-vector078"
          />
          <img
            src="assets/public/playground_assets/vector1046-o0if.svg"
            alt="Vector1046"
            class="slide-screens1-vector079"
          />
          <img
            src="assets/public/playground_assets/vector1046-wgf.svg"
            alt="Vector1046"
            class="slide-screens1-vector080"
          />
          <img
            src="assets/public/playground_assets/vector1046-bw4f.svg"
            alt="Vector1046"
            class="slide-screens1-vector081"
          />
          <img
            src="assets/public/playground_assets/vector1046-x2bm.svg"
            alt="Vector1046"
            class="slide-screens1-vector082"
          />
          <img
            src="assets/public/playground_assets/vector1046-jkz.svg"
            alt="Vector1046"
            class="slide-screens1-vector083"
          />
          <img
            src="assets/public/playground_assets/vector1046-k6d.svg"
            alt="Vector1046"
            class="slide-screens1-vector084"
          />
          <img
            src="assets/public/playground_assets/vector1046-aybg.svg"
            alt="Vector1046"
            class="slide-screens1-vector085"
          />
          <img
            src="assets/public/playground_assets/vector1046-4hne.svg"
            alt="Vector1046"
            class="slide-screens1-vector086"
          />
          <img
            src="assets/public/playground_assets/vector1046-nnwu.svg"
            alt="Vector1046"
            class="slide-screens1-vector087"
          />
          <img
            src="assets/public/playground_assets/vector1046-mxew.svg"
            alt="Vector1046"
            class="slide-screens1-vector088"
          />
          <img
            src="assets/public/playground_assets/vector1046-hya.svg"
            alt="Vector1046"
            class="slide-screens1-vector089"
          />
          <img
            src="assets/public/playground_assets/vector1046-tmj.svg"
            alt="Vector1046"
            class="slide-screens1-vector090"
          />
          <img
            src="assets/public/playground_assets/vector1046-4nhu.svg"
            alt="Vector1046"
            class="slide-screens1-vector091"
          />
          <img
            src="assets/public/playground_assets/vector1046-ylr8.svg"
            alt="Vector1046"
            class="slide-screens1-vector092"
          />
          <img
            src="assets/public/playground_assets/vector1046-kg8m.svg"
            alt="Vector1046"
            class="slide-screens1-vector093"
          />
          <img
            src="assets/public/playground_assets/vector1046-kpvh.svg"
            alt="Vector1046"
            class="slide-screens1-vector094"
          />
          <img
            src="assets/public/playground_assets/vector1046-x1se.svg"
            alt="Vector1046"
            class="slide-screens1-vector095"
          />
          <img
            src="assets/public/playground_assets/vector1046-51jf.svg"
            alt="Vector1046"
            class="slide-screens1-vector096"
          />
          <img
            src="assets/public/playground_assets/vector1046-vzbh.svg"
            alt="Vector1046"
            class="slide-screens1-vector097"
          />
          <img
            src="assets/public/playground_assets/vector1046-zk6.svg"
            alt="Vector1046"
            class="slide-screens1-vector098"
          />
          <img
            src="assets/public/playground_assets/vector1046-5xpl.svg"
            alt="Vector1046"
            class="slide-screens1-vector099"
          />
          <img
            src="assets/public/playground_assets/vector1046-t8md.svg"
            alt="Vector1046"
            class="slide-screens1-vector100"
          />
          <img
            src="assets/public/playground_assets/vector1046-4zy.svg"
            alt="Vector1046"
            class="slide-screens1-vector101"
          />
          <img
            src="assets/public/playground_assets/vector1046-2sv.svg"
            alt="Vector1046"
            class="slide-screens1-vector102"
          />
          <img
            src="assets/public/playground_assets/vector1046-s0mn.svg"
            alt="Vector1046"
            class="slide-screens1-vector103"
          />
          <img
            src="assets/public/playground_assets/vector1046-3wb.svg"
            alt="Vector1046"
            class="slide-screens1-vector104"
          />
          <img
            src="assets/public/playground_assets/vector1046-g6ej.svg"
            alt="Vector1046"
            class="slide-screens1-vector105"
          />
          <img
            src="assets/public/playground_assets/vector1046-4thh.svg"
            alt="Vector1046"
            class="slide-screens1-vector106"
          />
          <img
            src="assets/public/playground_assets/vector1046-l4p7.svg"
            alt="Vector1046"
            class="slide-screens1-vector107"
          />
          <img
            src="assets/public/playground_assets/vector1046-9sj.svg"
            alt="Vector1046"
            class="slide-screens1-vector108"
          />
          <img
            src="assets/public/playground_assets/vector1046-at7k.svg"
            alt="Vector1046"
            class="slide-screens1-vector109"
          />
          <img
            src="assets/public/playground_assets/vector1046-8o36.svg"
            alt="Vector1046"
            class="slide-screens1-vector110"
          />
          <img
            src="assets/public/playground_assets/vector1046-fx0y.svg"
            alt="Vector1046"
            class="slide-screens1-vector111"
          />
          <img
            src="assets/public/playground_assets/vector1046-rie.svg"
            alt="Vector1046"
            class="slide-screens1-vector112"
          />
          <img
            src="assets/public/playground_assets/vector1046-o9tj.svg"
            alt="Vector1046"
            class="slide-screens1-vector113"
          />
          <img
            src="assets/public/playground_assets/vector1046-ycqu.svg"
            alt="Vector1046"
            class="slide-screens1-vector114"
          />
          <img
            src="assets/public/playground_assets/vector1046-zjgm.svg"
            alt="Vector1046"
            class="slide-screens1-vector115"
          />
          <img
            src="assets/public/playground_assets/vector1046-u5yc.svg"
            alt="Vector1046"
            class="slide-screens1-vector116"
          />
          <img
            src="assets/public/playground_assets/vector1046-41di.svg"
            alt="Vector1046"
            class="slide-screens1-vector117"
          />
          <img
            src="assets/public/playground_assets/vector1047-txwn.svg"
            alt="Vector1047"
            class="slide-screens1-vector118"
          />
          <img
            src="assets/public/playground_assets/vector1047-857.svg"
            alt="Vector1047"
            class="slide-screens1-vector119"
          />
          <img
            src="assets/public/playground_assets/vector1047-0d9k.svg"
            alt="Vector1047"
            class="slide-screens1-vector120"
          />
        </div>
      </div>
    </div>
  </div>
  <style>
    html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
html {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);

  }
  .slide-screens1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .slide-screens1-slide-screens {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(251, 251, 251, 1);
  }
  .slide-screens1-text {
    top: 503px;
    left: 12px;
    color: rgba(37, 37, 37, 1);
    width: 350px;
    height: auto;
    position: absolute;
    font-size: 34px;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .slide-screens1-rectangle2 {
    top: 700px;
    left: 28px;
    width: 16px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens1-rectangle3 {
    top: 700px;
    left: 46px;
    width: 13px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens1-rectangle4 {
    top: 700px;
    left: 61px;
    width: 13px;
    height: 6px;
    position: absolute;
    border-radius: 10px;
  }
  .slide-screens1-next-button {
    top: 678px;
    left: 282px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .slide-screens1-segmentrafiki1 {
    top: 164px;
    left: 9px;
    width: 361px;
    height: 320px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .slide-screens1-freepikbackgroundcompleteinject297 {
    top: 35.20000076293945px;
    left: 0px;
    width: 361px;
    height: 217.28640747070312px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens1-vector {
    top: 209.53599548339844px;
    left: 0px;
    width: 361px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector001 {
    top: 216.8896026611328px;
    left: 60.64799880981445px;
    width: 40px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector002 {
    top: 216.96640014648438px;
    left: 48.294578552246094px;
    width: 5px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector003 {
    top: 214.1632080078125px;
    left: 168.70252990722656px;
    width: 8px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector004 {
    top: 214.1632080078125px;
    left: 181.3230743408203px;
    width: 47px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector005 {
    top: 217.12640380859375px;
    left: 263.9415588378906px;
    width: 30px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector006 {
    top: 217.12640380859375px;
    left: 250.29574584960938px;
    width: 10px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector007 {
    top: 214.24000549316406px;
    left: 301.550537109375px;
    width: 26px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector008 {
    top: -7.629394644936838e-7px;
    left: 27.58761978149414px;
    width: 148px;
    height: 181px;
    position: absolute;
  }
  .slide-screens1-vector009 {
    top: -7.629394644936838e-7px;
    left: 183.74899291992188px;
    width: 148px;
    height: 181px;
    position: absolute;
  }
  .slide-screens1-vector010 {
    top: 113.55520629882812px;
    left: 319.69439697265625px;
    width: 178px;
    height: 102px;
    position: absolute;
  }
  .slide-screens1-vector011 {
    top: 113.55520629882812px;
    left: 318.4453125px;
    width: 179px;
    height: 102px;
    position: absolute;
  }
  .slide-screens1-vector012 {
    top: 115.83999633789062px;
    left: 319.69439697265625px;
    width: 178px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector013 {
    top: 115.83999633789062px;
    left: 300.3664245605469px;
    width: 173px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector014 {
    top: 16.23040008544922px;
    left: 314.6981506347656px;
    width: 93px;
    height: 171px;
    position: absolute;
  }
  .slide-screens1-vector015 {
    top: 16.236801147460938px;
    left: 222.90306091308594px;
    width: 50px;
    height: 93px;
    position: absolute;
  }
  .slide-screens1-vector016 {
    top: 16.236801147460938px;
    left: 201.9578399658203px;
    width: 35px;
    height: 93px;
    position: absolute;
  }
  .slide-screens1-vector017 {
    top: 15.654398918151855px;
    left: 143.68521118164062px;
    width: 84px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector018 {
    top: 10.182328224182129px;
    left: 287.786376953125px;
    width: 35px;
    height: 39px;
    position: absolute;
  }
  .slide-screens1-vector019 {
    top: 50.880001068115234px;
    left: 297.2568054199219px;
    width: 25px;
    height: 55px;
    position: absolute;
  }
  .slide-screens1-vector020 {
    top: 50.880001068115234px;
    left: 323.1888427734375px;
    width: 12px;
    height: 3px;
    position: absolute;
  }
  .slide-screens1-vector021 {
    top: 10.182401657104492px;
    left: 136.4074249267578px;
    width: 35px;
    height: 39px;
    position: absolute;
  }
  .slide-screens1-vector022 {
    top: 50.880001068115234px;
    left: 136.40745544433594px;
    width: 25px;
    height: 55px;
    position: absolute;
  }
  .slide-screens1-vector023 {
    top: 47.96160125732422px;
    left: 135.7215576171875px;
    width: 12px;
    height: 3px;
    position: absolute;
  }
  .slide-screens1-vector024 {
    top: 82.91839599609375px;
    left: 97.65049743652344px;
    width: 42px;
    height: 56px;
    position: absolute;
  }
  .slide-screens1-vector025 {
    top: 82.91839599609375px;
    left: 96.56749725341797px;
    width: 47px;
    height: 56px;
    position: absolute;
  }
  .slide-screens1-vector026 {
    top: 31.51359748840332px;
    left: 91.71566009521484px;
    width: 47px;
    height: 37px;
    position: absolute;
  }
  .slide-screens1-vector027 {
    top: 45.523197174072266px;
    left: 65.46373748779297px;
    width: 15px;
    height: 19px;
    position: absolute;
  }
  .slide-screens1-vector028 {
    top: 209.53599548339844px;
    left: 168.36317443847656px;
    width: 31px;
    height: 65px;
    position: absolute;
  }
  .slide-screens1-vector029 {
    top: 197.2480010986328px;
    left: 137.3821563720703px;
    width: 17px;
    height: 12px;
    position: absolute;
  }
  .slide-screens1-vector030 {
    top: 209.53599548339844px;
    left: 324.4523620605469px;
    width: 31px;
    height: 65px;
    position: absolute;
  }
  .slide-screens1-vector031 {
    top: 205.30560302734375px;
    left: 300.68414306640625px;
    width: 163px;
    height: 61px;
    position: absolute;
  }
  .slide-screens1-vector032 {
    top: 197.2480010986328px;
    left: 283.7460021972656px;
    width: 17px;
    height: 12px;
    position: absolute;
  }
  .slide-screens1-vector033 {
    top: 171.6416015625px;
    left: 294.27276611328125px;
    width: 150px;
    height: 21px;
    position: absolute;
  }
  .slide-screens1-vector034 {
    top: 199.08480834960938px;
    left: 294.27276611328125px;
    width: 150px;
    height: 21px;
    position: absolute;
  }
  .slide-screens1-vector035 {
    top: 171.6416015625px;
    left: 294.2655334472656px;
    width: 124px;
    height: 21px;
    position: absolute;
  }
  .slide-screens1-vector036 {
    top: 156.2303924560547px;
    left: 179.3770751953125px;
    width: 14px;
    height: 15px;
    position: absolute;
  }
  .slide-screens1-vector037 {
    top: 122.09280395507812px;
    left: 261.2447509765625px;
    width: 16px;
    height: 22px;
    position: absolute;
  }
  .slide-screens1-vector038 {
    top: 137.81118774414062px;
    left: 205.06243896484375px;
    width: 39px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector039 {
    top: 165.0496063232422px;
    left: 213.8058624267578px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector040 {
    top: 161.0303955078125px;
    left: 213.8058624267578px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector041 {
    top: 199.08480834960938px;
    left: 294.2655334472656px;
    width: 124px;
    height: 21px;
    position: absolute;
  }
  .slide-screens1-vector042 {
    top: 192.4927978515625px;
    left: 186.26876831054688px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector043 {
    top: 188.4735870361328px;
    left: 186.26876831054688px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector044 {
    top: 192.4927978515625px;
    left: 248.96005249023438px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector045 {
    top: 188.4735870361328px;
    left: 248.96005249023438px;
    width: 26px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector046 {
    top: 124.5055923461914px;
    left: 79.87525177001953px;
    width: 4px;
    height: 74px;
    position: absolute;
  }
  .slide-screens1-vector047 {
    top: 158.68797302246094px;
    left: 48.802181243896484px;
    width: 34px;
    height: 21px;
    position: absolute;
  }
  .slide-screens1-vector048 {
    top: 163.12725830078125px;
    left: 81.95145416259766px;
    width: 29px;
    height: 22px;
    position: absolute;
  }
  .slide-screens1-vector049 {
    top: 134.61119079589844px;
    left: 52.67338562011719px;
    width: 29px;
    height: 18px;
    position: absolute;
  }
  .slide-screens1-vector050 {
    top: 138.36605834960938px;
    left: 80.7508316040039px;
    width: 25px;
    height: 19px;
    position: absolute;
  }
  .slide-screens1-vector051 {
    top: 116.01548767089844px;
    left: 79.86843872070312px;
    width: 18px;
    height: 16px;
    position: absolute;
  }
  .slide-screens1-vector052 {
    top: 118.34500885009766px;
    left: 68.80916595458984px;
    width: 13px;
    height: 13px;
    position: absolute;
  }
  .slide-screens1-vector053 {
    top: 192.87680053710938px;
    left: 71.47799682617188px;
    width: 23px;
    height: 17px;
    position: absolute;
  }
  .slide-screens1-vector054 {
    top: 190.17599487304688px;
    left: 69.27589416503906px;
    width: 27px;
    height: 6px;
    position: absolute;
  }
  .slide-screens1-freepik-shadowinject297 {
    top: 259.1488037109375px;
    left: 40.51142120361328px;
    width: 279.9771728515625px;
    height: 14.48958969116211px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens1-vector055 {
    top: 0px;
    left: 0px;
    width: 280px;
    height: 14px;
    position: absolute;
  }
  .slide-screens1-freepik-characterinject297 {
    top: 70.02880096435547px;
    left: 59.32674026489258px;
    width: 208.2921600341797px;
    height: 195.34718322753906px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .slide-screens1-vector056 {
    top: 48.096004486083984px;
    left: 141.35316467285156px;
    width: 36px;
    height: 25px;
    position: absolute;
  }
  .slide-screens1-vector057 {
    top: 44.18839645385742px;
    left: 160.36341857910156px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .slide-screens1-vector058 {
    top: 44.18839645385742px;
    left: 160.36341857910156px;
    width: 19px;
    height: 19px;
    opacity: 0.70;
    position: absolute;
  }
  .slide-screens1-vector059 {
    top: 43.85258483886719px;
    left: 167.28062438964844px;
    width: 36px;
    height: 44px;
    position: absolute;
  }
  .slide-screens1-vector060 {
    top: 43.85258483886719px;
    left: 167.28062438964844px;
    width: 36px;
    height: 44px;
    opacity: 0.70;
    position: absolute;
  }
  .slide-screens1-vector061 {
    top: 62.57919692993164px;
    left: 193.25050354003906px;
    width: 5px;
    height: 10px;
    position: absolute;
  }
  .slide-screens1-vector062 {
    top: 62.57919692993164px;
    left: 193.25050354003906px;
    width: 5px;
    height: 10px;
    opacity: 0.50;
    position: absolute;
  }
  .slide-screens1-vector063 {
    top: 175.9423828125px;
    left: 148.69589233398438px;
    width: 8px;
    height: 12px;
    position: absolute;
  }
  .slide-screens1-vector064 {
    top: 179.78237915039062px;
    left: 192.1025390625px;
    width: 9px;
    height: 11px;
    position: absolute;
  }
  .slide-screens1-vector065 {
    top: 175.94879150390625px;
    left: 149.98104858398438px;
    width: 6px;
    height: 7px;
    position: absolute;
  }
  .slide-screens1-vector066 {
    top: 179.78878784179688px;
    left: 192.1025390625px;
    width: 7px;
    height: 6px;
    position: absolute;
  }
  .slide-screens1-vector067 {
    top: 84.09600067138672px;
    left: 148.51539611816406px;
    width: 37px;
    height: 98px;
    position: absolute;
  }
  .slide-screens1-vector068 {
    top: 84.09600067138672px;
    left: 148.51539611816406px;
    width: 37px;
    height: 98px;
    opacity: 0.60;
    position: absolute;
  }
  .slide-screens1-vector069 {
    top: 94.8800048828125px;
    left: 172.40895080566406px;
    width: 9px;
    height: 28px;
    opacity: 0.40;
    position: absolute;
  }
  .slide-screens1-vector070 {
    top: 85.2991943359375px;
    left: 177.127685546875px;
    width: 24px;
    height: 99px;
    position: absolute;
  }
  .slide-screens1-vector071 {
    top: 85.2991943359375px;
    left: 177.127685546875px;
    width: 24px;
    height: 99px;
    opacity: 0.60;
    position: absolute;
  }
  .slide-screens1-vector072 {
    top: 190.04159545898438px;
    left: 185.76278686523438px;
    width: 18px;
    height: 5px;
    position: absolute;
  }
  .slide-screens1-vector073 {
    top: 185.45738220214844px;
    left: 135.46315002441406px;
    width: 19px;
    height: 8px;
    position: absolute;
  }
  .slide-screens1-vector074 {
    top: 56.40959930419922px;
    left: 139.7001953125px;
    width: 7px;
    height: 5px;
    position: absolute;
  }
  .slide-screens1-vector075 {
    top: 53.42719650268555px;
    left: 140.1329803466797px;
    width: 7px;
    height: 3px;
    position: absolute;
  }
  .slide-screens1-vector076 {
    top: 52.23552703857422px;
    left: 176.306640625px;
    width: 11px;
    height: 11px;
    position: absolute;
  }
  .slide-screens1-vector077 {
    top: 33.32480239868164px;
    left: 181.5973358154297px;
    width: 13px;
    height: 14px;
    position: absolute;
  }
  .slide-screens1-vector078 {
    top: 35.21919631958008px;
    left: 186.52149963378906px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .slide-screens1-vector079 {
    top: 20.107898712158203px;
    left: 180.75942993164062px;
    width: 7px;
    height: 10px;
    position: absolute;
  }
  .slide-screens1-vector080 {
    top: 20.723337173461914px;
    left: 180.3938751220703px;
    width: 16px;
    height: 18px;
    position: absolute;
  }
  .slide-screens1-vector081 {
    top: 22.017457962036133px;
    left: 192.26722717285156px;
    width: 9px;
    height: 11px;
    position: absolute;
  }
  .slide-screens1-vector082 {
    top: 16.489294052124023px;
    left: 177.53599548339844px;
    width: 24px;
    height: 8px;
    position: absolute;
  }
  .slide-screens1-vector083 {
    top: 21.689598083496094px;
    left: 199.4308624267578px;
    width: 4px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector084 {
    top: 30.338768005371094px;
    left: 192.21575927734375px;
    width: 6px;
    height: 5px;
    position: absolute;
  }
  .slide-screens1-vector085 {
    top: 181.2608184814453px;
    left: 189.25064086914062px;
    width: 13px;
    height: 3px;
    position: absolute;
  }
  .slide-screens1-vector086 {
    top: 176.2880096435547px;
    left: 147.3890838623047px;
    width: 11px;
    height: 6px;
    position: absolute;
  }
  .slide-screens1-vector087 {
    top: 29.18199920654297px;
    left: 186.71121215820312px;
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector088 {
    top: 27.334402084350586px;
    left: 182.0703887939453px;
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector089 {
    top: 28.435203552246094px;
    left: 182.06674194335938px;
    width: 2px;
    height: 4px;
    position: absolute;
  }
  .slide-screens1-vector090 {
    top: 32.05088806152344px;
    left: 184.9833221435547px;
    width: 3px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector091 {
    top: 25.97193145751953px;
    left: 187.56964111328125px;
    width: 2px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector092 {
    top: 25.043201446533203px;
    left: 181.00148010253906px;
    width: 2px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector093 {
    top: 189.67581176757812px;
    left: 192.48513793945312px;
    width: 3px;
    height: 1px;
    position: absolute;
  }
  .slide-screens1-vector094 {
    top: 188.5955047607422px;
    left: 193.55323791503906px;
    width: 2px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector095 {
    top: 184.74832153320312px;
    left: 145.40576171875px;
    width: 3px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector096 {
    top: 184.0936737060547px;
    left: 147.02102661132812px;
    width: 1px;
    height: 2px;
    position: absolute;
  }
  .slide-screens1-vector097 {
    top: 52.313602447509766px;
    left: 175.66259765625px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .slide-screens1-vector098 {
    top: 47.30967712402344px;
    left: 192.83177185058594px;
    width: 15px;
    height: 18px;
    position: absolute;
  }
  .slide-screens1-vector099 {
    top: 47.30967712402344px;
    left: 192.83177185058594px;
    width: 15px;
    height: 18px;
    opacity: 0.70;
    position: absolute;
  }
  .slide-screens1-vector100 {
    top: 1.9903982877731323px;
    left: 2.916879177093506px;
    width: 102px;
    height: 67px;
    position: absolute;
  }
  .slide-screens1-vector101 {
    top: 1.9903982877731323px;
    left: 2.916879177093506px;
    width: 102px;
    height: 67px;
    opacity: 0.40;
    position: absolute;
  }
  .slide-screens1-vector102 {
    top: -0.000002136230477844947px;
    left: 7.552117824554443px;
    width: 102px;
    height: 67px;
    position: absolute;
  }
  .slide-screens1-vector103 {
    top: -0.000002136230477844947px;
    left: 7.552117824554443px;
    width: 102px;
    height: 67px;
    opacity: 0.60;
    position: absolute;
  }
  .slide-screens1-vector104 {
    top: 0.9984011650085449px;
    left: 92.87086486816406px;
    width: 76px;
    height: 99px;
    position: absolute;
  }
  .slide-screens1-vector105 {
    top: 0.9984011650085449px;
    left: 92.87086486816406px;
    width: 76px;
    height: 99px;
    opacity: 0.10;
    position: absolute;
  }
  .slide-screens1-vector106 {
    top: 1.0111989974975586px;
    left: 97.52054595947266px;
    width: 76px;
    height: 97px;
    position: absolute;
  }
  .slide-screens1-vector107 {
    top: 1.0111989974975586px;
    left: 97.52054595947266px;
    width: 76px;
    height: 97px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens1-vector108 {
    top: 6.113596439361572px;
    left: 102.70487213134766px;
    width: 67px;
    height: 86px;
    opacity: 0.40;
    position: absolute;
  }
  .slide-screens1-vector109 {
    top: 3.6791090965270996px;
    left: 12.275464057922363px;
    width: 92px;
    height: 59px;
    opacity: 0.40;
    position: absolute;
  }
  .slide-screens1-vector110 {
    top: 55.967994689941406px;
    left: 2.4120981693267822px;
    width: 143px;
    height: 80px;
    position: absolute;
  }
  .slide-screens1-vector111 {
    top: 55.967994689941406px;
    left: 2.4120981693267822px;
    width: 143px;
    height: 80px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens1-vector112 {
    top: 55.967994689941406px;
    left: 7.066467761993408px;
    width: 143px;
    height: 78px;
    position: absolute;
  }
  .slide-screens1-vector113 {
    top: 55.967994689941406px;
    left: 7.066467761993408px;
    width: 143px;
    height: 78px;
    opacity: 0.10;
    position: absolute;
  }
  .slide-screens1-vector114 {
    top: 60.285621643066406px;
    left: 11.190106391906738px;
    width: 133px;
    height: 70px;
    opacity: 0.40;
    position: absolute;
  }
  .slide-screens1-vector115 {
    top: 69.2991943359375px;
    left: -6.103515488575795e-7px;
    width: 2px;
    height: 8px;
    position: absolute;
  }
  .slide-screens1-vector116 {
    top: 69.2991943359375px;
    left: -6.103515488575795e-7px;
    width: 2px;
    height: 8px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens1-vector117 {
    top: 80.12799835205078px;
    left: 1.67503821849823px;
    width: 2px;
    height: 4px;
    position: absolute;
  }
  .slide-screens1-vector118 {
    top: 80.12799835205078px;
    left: 1.67503821849823px;
    width: 2px;
    height: 4px;
    opacity: 0.20;
    position: absolute;
  }
  .slide-screens1-vector119 {
    top: 77.30560302734375px;
    left: 171.91542053222656px;
    width: 6px;
    height: 6px;
    position: absolute;
  }
  .slide-screens1-vector120 {
    top: 77.30560302734375px;
    left: 167.8577880859375px;
    width: 5px;
    height: 6px;
    position: absolute;
  }
  
  </style>