<div class="min-h-full">
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div id="form" class="block bg-slate-50 p-6 round-xl shadow-md shadow-slate-300 w-90">
            <form [formGroup]="updateform" (ngSubmit)="onsubmit()">
                <h2 class="text-blue-700 text-3x1 font-semibold my-4 text-center">Siloam Glory Mission <br>Registration Form</h2>
                <div id="fullname" >
                    <!-- class="w-1/2 mr-1" -->
                    <div id="unique" >
                        <label class="text-sm" >Unique ID</label>
                       <p>{{data.code}}</p>
                    </div><br>
                    <div id="surname">
                        <label class="text-sm">Surname</label>
                       <p>{{data.surname}}</p>
                    </div><br>
                    <div id="name">
                        <label class="text-sm">Name</label>
                        <p>{{data.name}}</p>
                    </div><br>
                    <div id="status">
                        <label class="text-sm">Baptised Status</label>
                        <p>{{data.status}}</p>
                    </div><br>
                    <div id="gender">
                        <label class="text-sm">Gender</label>
                        <p>{{data.sex}}</p>
                    </div><br>
                    <div id="dob">
                        <label class="text-sm">Date Of Birth</label>
                        <p>{{data.dob}}</p>
                    </div><br>
                    <div id="age">
                        <label class="text-sm">Age</label>
                        <p>{{data.age}}</p>
                    </div><br>
                    <div id="occupation">
                        <label class="text-sm">Occupation</label>
                        <p>{{data.occupation}}</p>
                                            </div><br>
                    <div id="marital">
                        <label class="text-sm">Marital Status</label>
                        <p>{{data.marital}}</p>
                     </div><br>
                     <div id="dno">
                        <label class="text-sm">D.No.</label>
                        <p>{{data.dno}}</p>
                    </div><br>
                    <div id="street">
                        <label class="text-sm">Street Details</label>
                        <p>{{data.parish}}</p>
                    </div><br>
                    <div id="area">
                        <label class="text-sm">Area</label>
                        <p>{{data.village}}</p>
                    </div><br>
                    <div id="city">
                        <label class="text-sm">City</label>
                        <p>{{data.city}}</p>
                    </div><br>
                    <div id="email">
                        <label class="text-sm">E-Mail</label>
                        <p>{{data.email}}</p>
                    </div><br>
                    <div id="phone">
                        <label class="text-sm">Phone Number</label>
                        <p>{{data.phone}}</p>
                    </div><br>
                    <div id="submit" >
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="backtoedit()">
                            Edit
                          </button>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="float: right;">
                            Submit
                          </button>
                    </div><br>
                     
                     

                </div>
            </form>

        </div>
      </div>
    </main>
  </div>